@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  font-family: 'Poppins', serif;
}

.App {
  text-align: center;
  font-size: calc(4px + 2vmin);
  background: url("./resources/background.png");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  color: black;
  flex-direction: column;
  /* overflow-x: hidden; */
  overflow: hidden;
  width: 100% !important;
  height: 100% !important;
  position:absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.top-right {
  position: fixed;
  top: 50px;
  right: 50px;
}

.cal-img-container {
  position: relative;
}

.left-container {
  position: absolute;
  padding-left: 2%;
  width: 40%;
  float: left;
  left: 0;
}

.right-container {
  float: right;
  position: absolute;
  width: 40%;
}

.logo-container {
  display: inline-block;
  position: relative;
  top: 0;
  left: 10px;
}

.footer-container {
  position: absolute;
  bottom: 15px;
}

.second {
  position: relative;
  top: -400px;
  left: -60px;
}

.App-header {
  text-align: left;
}

.App-link {
  color: #61dafb;
}