@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  font-family: 'Poppins', serif;
}

.App {
  text-align: center;
  font-size: calc(2px + 2vmin);
  background: url("./resources/background.png");
  background-attachment: fixed;
  background-size: 125%;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  color: black;
  flex-direction: column;
  padding: 0 5%;
  overflow: hidden !important;
  width: 90% !important;
  height: 100% !important;
  position: absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.log-out {
  position: fixed;
  top: 20px;
  right: 70px;
}

.home-button {
  position: fixed;
  top: 20px;
  right: 200px;
}

.blue {
  background-color: #0084ff;
}

.red {
  background-color: #ea4335;
}

.cal-img-container {
  position: relative;
}

.left-container {
  position: absolute;
  padding-left: 80px;
  width: 36%;
  float: left;
  left: 0;
}

.left-align {
  text-align: left;
}

.right-container {
  float: right;
  position: absolute;
  width: 40%;
}

.union-list {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border-spacing: 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.union-list tr {
  border: solid 1px #ccc !important;
  text-align: left;
}

.union-list td, .union-list th {
  margin: 0 !important;
  padding: 10px 25px;
}

.union-list th {
  background: #F6F8FB;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.logo-container {
  display: inline-block;
  position: relative;
  text-align: left;
  top: 0;
  left: 10px;
}

.footer-container {
  position: absolute;
  bottom: 15px;
}

.footer-container a {
  text-decoration: none;
  color: #000;
}

.full-calendar-container {
  top: 60px;
  right: 40px;
  position: absolute;
  width: 60%;
}

.fc-media-screen {
  float: right;
  width: 100%;
  height: 80vh;
  margin: 40px;
  padding: 5px;
  border-radius: 10px;
  background: #fff;
  color: rgb(0, 133, 255);
}

.fc-toolbar {
  margin: 0.5em !important;
}

.fc-button {
  background: rgb(0, 133, 255) !important;
}

.fc-timegrid-now-indicator-line {
  border-color:rgb(0, 133, 255) !important;
}

.fc .fc-timegrid-now-indicator-arrow {
  border-color:rgb(0, 133, 255);
}

.fc-timegrid-slot {
  padding: 5px 0 !important;
}

.second {
  position: relative;
  top: -400px;
  left: -60px;
}

.App-header {
  text-align: left;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@media screen and (max-width: 768px) {
  .App {
    overflow: scroll;
  }
  .right-container {
    width: 100%;
    left: 0;
    position: relative;
    float: left;
  }
  .first {
    width: 90%;
    position: relative;
  }
  .left-container {
    width: 90%;
    padding-left: 5%;
    float: left;
    position: relative;
    text-align: center;
  }
  .log-out {
    right: 30px;
  }
  .second {
    display: none;
  }
  .first {
    position: relative;
  }

  .home-button {
    display: none;
  }

  .cal-img-container {
    width: 100%;
    left: 0;
  }

  .logo-container {
    text-align: center;
    left: 0;
  }

  .full-calendar-container {
    width: 100%;
    height: 40vh;
    position: relative;
    right: 0;
    top: 0;
  }

  .fc-media-screen {
    float: left;
    position: relative;
    height: 40vh;
    margin: 0px;
  }

  .fc-toolbar-title {
    font-size: 24px !important;
    padding: 0 24px;
  }


}

@media screen and (max-width: 480px) {
  .home-button {
    display: none;
  }
}